@charset "UTF-8";



html {
  font-size: 100%;
}
body {
  color: #28385E;
  margin:0;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
li {
  list-style: none;
}

.wrapper {
  max-width: 960px;
  margin: 0 auto 130px auto;
  font-size: 0.9em;
  padding: 0 4%;
}

.site-title {
  line-height: 1px
}

.site-title a {
  display: block;
  color:#28385E
}

.sec-title {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 65px;
}

.wrapper#link {
  margin-bottom:50px;
}

.bottom img {
  padding:0;
  display: block;
  margin:50px auto;
}
/*-------------------------------------------
ヘッダー
-------------------------------------------*/
#header {
  max-width: 960px;
  display: flex;
  justify-content: space-between;
  align-items:center;
  height:200px;
  margin: 0 auto;
  padding: 0 4%;
}
#header ul {
  display: flex;
  padding:10px 0;
}
#header li {
  font-size:0.9em;
  margin-left: 30px;
}
#header li a {
  color: #24292e;
}
#header li a:hover {
  opacity:0.7;
}

#header li img.icon {
  width: 20px;
}


.s-menu, .s-navi {
  display:none;
}
/*スマホ用メニュー-------------*/
.check {
  position:fixed;
  width:60px;
  height:60px;
  right:4px;
  top:2px;
  z-index:20;
  opacity:1;
  cursor:pointer;
  display:none;
}
.s-menu {
  position:fixed;
  font-size:3rem;
  right:7px;
  top:2px;
}
.s-close {
  position:fixed;
  font-size:3rem;
  right:7px;
  top:2px;
  color:white;
  display:none;
}

.s-navi ul {
  padding-left:0;
  border-top:solid 1px white;
}
.s-navi li {
  border-bottom:solid 1px white;
  padding:5px 0 5px 10px;
}
.s-navi a {
  color:white;
}



/*-------------------------------------------
Mainvisual
-------------------------------------------*/
#mainvisual {
  margin-bottom: 80px;
}
#mainvisual img {
  width: 100%;
  max-width: 1920px;
  height: 420px;
  object-fit: cover;
}
/*-------------------------------------------
About
-------------------------------------------*/
#about ul {
  margin-bottom: 30px;
  padding-left:0;
}
#about li:first-child {
  margin-bottom: 30px;
}
#about p {
  text-align: justify;
}
/*-------------------------------------------
Works
-------------------------------------------*/
#works ul {
  display: flex;
  justify-content:space-between;
  flex-wrap:wrap;
  margin-bottom:50px;
  padding-left:0;
}
#works li {
  width:33%;
  margin-bottom:23px;
}

/*-------------------------------------------
Schedule
-------------------------------------------*/

#schedule dl {
  display: flex;
  flex-wrap:wrap;
  border-top: solid 1px #c8c8c8;
  margin-bottom:20px;
}
#schedule dt {
  width:20%;
  border-bottom:solid 1px #c8c8c8;
  padding: 15px 0;
  margin:0;
}
#schedule dd {
  width: 80%;
  border-bottom:solid 1px #c8c8c8;
  padding:15px 0;
  margin:0;
}

  /*-------------------------------------------
  Skills
  -------------------------------------------*/
  #skills figure {
    display:block;
    width:60%;
    margin:auto;
  }
  #skills figcaption {
    text-align:center;
  }

  #skills ul {
    display: flex;
    justify-content:space-between;
    flex-wrap:wrap;
    margin-bottom:50px;
    padding-left:0;
  }

  #skills ul li {
    width:33%;
    margin:20px auto;
  }

/*-------------------------------------------
Link
-------------------------------------------*/
#link dl {
  display: flex;
  flex-wrap:wrap;
  border-top: solid 1px #c8c8c8;
  margin-bottom:20px;
}
#link dt {
  width:20%;
  border-bottom:solid 1px #c8c8c8;
  padding: 15px 0;
  margin:0;
}
#link dd {
  width: 80%;
  border-bottom:solid 1px #c8c8c8;
  padding:15px 0;
  margin:0;
}

/*-------------------------------------------
フッター
-------------------------------------------*/
#footer {
  background-color: #24292e;
  color: #fff;
  font-size: 0.5rem;
  padding: 10px 20px;
  text-align: center;
}
/*-------------------------------------------
SP
-------------------------------------------*/
@media screen and (max-width:720px) {
  .wrapper {
    margin-bottom: 70px;
  }
  .site-title {
    margin-top: 40px;
  }
  .sec-title {
    margin-bottom:40px;
  }
 /*-------------------------------------------
  ヘッダー
  -------------------------------------------*/
  .check {
    display:inline-block;
    opacity:0;
  }
  #header {
    position:fixed;
    background-color:rgba(255,255,255,0.9);
    width:100%;
    max-width: 100%;
    height:65px;
    padding-bottom:10px;
    text-align:center;
  }



  nav {
    display:none;
  }
  .s-menu {
    display:inline-block;
  }

  .s-navi {
    display:block;
    background-color:#333;
    padding-top:20px;
    padding-bottom:20px;
    position:fixed;
    width:100%;
    transition:all 800ms;
    transform:translateY(-110%);
  }
  .s-navi h1 {
    color:white;
    padding-left:5px;
  }
  .sns {
    display:flex;
    justify-content: flex-start;
  }
  .sns li {
    border-bottom:none;
    margin-right:10px;
  }

  input:checked ~ .s-menu {
    display: none;
    
  }
  input:checked ~ .s-navi {
    
    transform:translateY(0);
  }
  input:checked ~ .s-close {
    display: inline-block;
    z-index: 10;
  }


  /*-------------------------------------------
  Works
  -------------------------------------------*/
  #works li {
    width:45%;
    margin:2%;
  }

  /*-------------------------------------------
  Skills
  -------------------------------------------*/
  #skills ul li {
    width:60%;
    margin:0 auto;
  }

  /*-------------------------------------------
  Schedule
    -------------------------------------------*/
  #schedule dl {
    flex-direction: column;
  }
  #schedule dt {
    width: 100%;
    border-bottom:none;
    padding-bottom:0;
  }
  #schedule dd {
    width:100%;
    padding-top:0;
  }
  /*-------------------------------------------
  Link
  -------------------------------------------*/
  #link dl {
    flex-direction: column;
  }
  #link dt {
    width: 100%;
    border-bottom:none;
    padding-bottom:0;
  }
  #link dd {
    width:100%;
    padding-top:0;
  }

}